<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PSitio.1</title>
  <link rel="Shortcut - icon" href="/images/Logo-RB.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>


  <!-- Encabezado -->
  <header>
    <div class="contenedor">
      <div class='logo' >
        <img src="/images/Logo-RB.png" alt="Logo de PJSF Inversiones">
      </div>

      <nav class="menu">
        <a href="#">Servicios</a>
        <a href="#">Nosotros</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
      </nav>
    </div>
  </header>

<!-- banner de Bienvenida -->
  <section class="banner">
    <div>
      <div class="contenedor llamada_accion">
        <p>Lorem ipsum dolor sit amet </p>
        <h2>BIENVENIDOS</h2>
        <a href="#">Ver Más</a>
      </div>
    </div>
  </section>

  <!-- Bienvenida a PJSF-->
  <section class="bienvenida">
    <div class="contenedor">
      <h3>Bienvenido a PJSF Inversiones</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo accusamus aliquid totam delectus, exercitationem provident vero autem consequuntur neque, quaerat saepe tempora sunt nostrum beatae voluptatibus mollitia numquam fuga? Earum!</p>
    </div>
  </section>

  <!-- Seccion de Nosotros-->
  <section class='nosotros'>

    <div class="contenedor">

      <div class="foto_equipo">
        <img src="/images/startup.jpg" alt="Foto del Equipo de PJSF">
      </div>

      <div class="conocenos">
        <p>CONOCENOS</p>
        <h3>NOSOTROS</h3>
        <p>Somos un equipo dispuesto a brindar Soluciones</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore alias odio suscipit corrupti aliquid inventore eos facilis ipsam consequuntur velit explicabo quod quibusdam quam libero, nemo tempore. Officiis, sequi.</p>
        <a href="#"> Leer más...</a>
      </div>

    </div>

  </section>

  <!-- Seccion de pie de pagina-->

  <footer>
    <div class="top_footer"></div>
    <div class="center_footer"> 
        <div class="contenedor">
          <div class="widget">
            <h4>Prueba de Widget</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quam possimus quibusdam repellendus ex facilis veniam unde molestias consequatur eius sit vel commodi inventore omnis sapiente magni dolores, dolore itaque!</p>
          </div>
          <div class="widget">
            <h4>Prueba de Widget</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quam possimus quibusdam repellendus ex facilis veniam unde molestias consequatur eius sit vel commodi inventore omnis sapiente magni dolores, dolore itaque!</p>
          </div>
          <div class="widget">
            <h4>Prueba de Widget</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quam possimus quibusdam repellendus ex facilis veniam unde molestias consequatur eius sit vel commodi inventore omnis sapiente magni dolores, dolore itaque!</p>
          </div>
          <div class="widget">
            <h4>Prueba de Widget</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quam possimus quibusdam repellendus ex facilis veniam unde molestias consequatur eius sit vel commodi inventore omnis sapiente magni dolores, dolore itaque!</p>
          </div>
        
          
        </div>
    </div>
    <div class="bottom_footer">
      <p>&copy; Todos los derechos reservados</p>
    </div>
  </footer>
  
</body>
</html>
